.icon {
  fill: currentColor;
}

.send-icon {
  margin-left: 10px;
}

.email {
  margin-right: 10px;
}

.telephone {
  margin-right: 10px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  margin-right: 12px;
  fill: $title-text-color;
  transition: fill $animation-time $timing-function;
  .form-field:focus + & {
    fill: $accent-color;
    cursor: pointer;
  }
}
