.footer {
  background-color: $background-color-footer;
  & .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.address {
  margin-bottom: 9px;
  color: $main-white-color;
  font-style: normal;
  line-height: 1.71;
}

.footer-connection {
  margin-bottom: 9px;
}

.join,
.subscribe {
  margin-top: 12px;
}
